{{#paper-content class="md-whiteframe-z1 list-demo"}}
  {{#paper-list}}

    {{list-item image='assets/images/uy-flag.png'
      title='Write your text below'
      subtitle='Then you can compress it with the switch...'
    }}

    {{#paper-item class="md-3-line info"}}
    <img src='assets/images/info.png' alt='' class="md-avatar">
    <div class="md-list-item-text">
      <div class="layout-row flex">
        <div class="flex">
          <p>
            <h3>The addon: <a href="https://github.com/san650/ember-preferences" target="_blank"> ember-preferences</a></h3>
          </p>
          <p style="margin-top:10px">
            ember-paper: <a href="http://miguelcobain.github.io/ember-paper/release-1/" target="_blank"> guide</a>
          </p>
        </div>
        <div class="flex">
          <p>
            <h3>Demo app code: <a href="https://github.com/FLarra/ember-preferences-sample" target="_blank"> here!</a></h3>
          </p>
          <p style="margin-top:10px">
            ember-paper: <a href="https://github.com/miguelcobain/ember-paper/" target="_blank"> code</a>
          </p>
        </div>
      </div>
    </div>
    {{/paper-item}}
    {{paper-divider}}

  {{/paper-list}}
{{/paper-content}}
